.contact_container{
    padding: 2rem;
    text-align: center;
    font-size: large;
}

.contact_header{
    margin-top: 30%;
    text-align: center;
}


@media screen and (max-width: 600px){
    .contact_header{
    margin-top: 130%;
    }
    .contact_container{
        font-size: medium;
        position: relative;
        left: -10px;
    }
}
